# Secrets / local config
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/

# macOS
.DS_Store

# Model files, in case ever downloadd into the repo
*.gguf
*.safetensors

#SQLite
*.db
*.sqlite*

#UV
dist/
build/
